$("#<%= @provider %>_loading").css("display", "none");
$("#<%= @provider %>_result_count").text("<%=@playlist.count if @playlist%> Results");
<%if @playlist.count == 0 %>
$("#<%= @provider %>_results").html("<p>No results found.</p>");
<%else%>
$("#<%= @provider %>_results").html("<ul id='<%= @provider %>_result_list' class='result-list'></ul>");
<%end%>

$("#<%= @provider %>_result_list").append("<%= escape_javascript(render :partial => "users/providers/#{@provider}") %>");


$('.listing-area p').ellipsis();
$('.listing-area ul li a').ellipsis();

$('.listing-area p').tooltip({"placement": "left", "animation": true});
$('.listing-area ul li a').tooltip({"placement": "left", "animation": true});



<% if !params[:track_key].blank? %>
      $('.<%= params[:track_key] %>').first().click();
<% end %>