

    	<div id="main">
        <div id="header">
            <div id="logo">
                <h1><a href="#"><%=image_tag("logo.png",:alt=>"")%></a></h1>
                <h2>search and discover new music</h2>
            </div><!-- #logo -->
        </div><!-- #main -->
        
        <div id="footer">
            <div class="search_box">
	       <form action="/musicmasti" method="post">
                <input type="text" name="search_fild" class="search_fild" placeholder="Search" />
                <input type="submit" class="search_btn" value="" />
	       </form>
            </div>
            <div class="logo_holder">
                <ul>
                    <li><a href="http://www.spotify.com" target="m"><%=image_tag("logo1.png",:alt=>"")%></a></li>
                    <li><a href="http://www.grooveshark.com" target="m"><%=image_tag("logo2.png",:alt=>"")%></a></li>
                    <li><a href="http://www.soundcloud.com" target="m"><%=image_tag("logo3.png",:alt=>"")%></a></li>
                    <li><a href="http://www.youtube.com" target="m"><%=image_tag("logo4.png",:alt=>"")%></a></li>
                    <li><a href="http://www.rdio.com" target="m"><%=image_tag("logo5.png",:alt=>"")%></a></li>
                    <li><a href="http://www.mog.com" target="m"><%=image_tag("logo6.png",:alt=>"")%></a></li>
                    <li><a href="http://www.deezer.com" target="m"><%=image_tag("logo7.png",:alt=>"")%></a></li>
                </ul>
                <div class="clear"></div>
            </div><!--logo_holder-->
            <div class="social">
                <ul>
                	<li class="stay">Stay in touch</li>
                    <li><a class="fb" href="#"></a></li>
                    <li><a class="twt" href="#"></a></li>
                    <li><a class="drb" href="#"></a></li>
                    <li><a class="slv" href="#"></a></li>
                    <li><a class="gplus" href="#"></a></li>
                    <li><a class="sll" href="#"></a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div><!-- #footer -->
    </div>