<div id="header_inner" style="position: fixed; width: 100%;z-index:1000;">
  <div class="wrapper">
    <div id="logo_inner">
      <h1><a href="/musicmasti"><%= image_tag("logo_2.png", :alt => "") %></a></h1>
    </div>
    <!-- #logo -->
    <div class="search_box_inner">
      <form class="navbar-form" action="#">
        <input type="text" id="search-query" class="search_fild" placeholder="Search"/>
        <input type="submit" class="search_btn" value=""/>
      </form>
    </div>
    <div class="clear"></div>
  </div>
</div><!-- #main -->
<div class="list_body">
  <div class="wrapper">
    <div class="top-nav" style="padding-top:180px;">
      <ul>
        <li><a class="selected" id="mnuSpotify" href="#">Spotify</a></li>
        <li><a id="mnuGrooveshark" href="#">Grooveshark</a></li>
        <li><a id="mnuSoundcloud" href="#">Soundcloud</a></li>
        <li><a id="mnuYoutube" href="#">Youtube</a></li>
        <li><a id="mnuRdio" href="#">Rdio</a></li>
        <li><a href="#">MOG</a></li>
        <li><a href="#">Deezer</a></li>
      </ul>
      <div class="clear"></div>
    </div>
    <!--top-nav-->

    <div class="content" id="spotify">
      <div class="heading">
        <a href="http://www.spotify.com" target="m">
          <h2 style="background:url(assets/logo1.png) no-repeat left">Spotify</h2></a>

        <p>Show in <span id="spotify_result_count">No Results</span></p>

        <div class="clear"></div>
      </div>
      <!--heading-->

      <div id="spotify_loading" class="loading" style="display: none;">
        <%= image_tag("ajax-loader_transparent.gif") %>
      </div>
      <div class="listing-area" id="spotify_results">
      </div>
      <!--listing-area-->
    </div>
    <!--content-->

    <div class="content" id="grooveshark" style="display:none">
      <div class="heading">
        <a href="http://www.grooveshark.com" target="m">
          <h2 style="background:url(assets/logo2.png) no-repeat left">GrooveShark</h2></a>

        <p>Show in <span id="grooveshark_result_count">No Results</span></p>

        <div class="clear"></div>
      </div>
      <!--heading-->

      <div id="grooveshark_loading" class="loading" style="display: none;">
        <%= image_tag("ajax-loader_transparent.gif") %>
      </div>
      <div class="listing-area" id="grooveshark_results">
      </div>
      <!--listing-area-->
    </div>
    <!--content-->

    <div class="content" id="soundcloud" style="display:none">
      <div class="heading">
        <a href="http://www.soundcloud.com" target="m">
          <h2 style="background:url(assets/logo3.png) no-repeat left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SoundCloud</h2>
        </a>

        <p>Show in <span id="soundcloud_result_count">No Results</span></p>

        <div class="clear"></div>
      </div>
      <!--heading-->

      <div id="soundcloud_loading" class="loading" style="display: none;">
        <%= image_tag("ajax-loader_transparent.gif") %>
      </div>
      <div class="listing-area" id="soundcloud_results">
      </div>
      <!--listing-area-->
    </div>
    <!--content-->

    <div class="content" id="youtube" style="display:none">
      <div class="heading">
        <a href="http://www.youtube.com" target="m">
          <h2 style="background:url(assets/logo4.png) no-repeat left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
        </a>

        <p>Show in <span id="youtube_result_count">No Results</span></p>

        <div class="clear"></div>
      </div>
      <!--heading-->

      <div id="youtube_loading" class="loading" style="display: none;">
        <%= image_tag("ajax-loader_transparent.gif") %>
      </div>
      <div class="listing-area" id="youtube_results">
      </div>
      <!--listing-area-->
    </div>
    <!--content-->

    <div class="content" id="rdio" style="display:none">
      <div class="heading">
        <a href="http://www.rdio.com" target="m">
          <h2 style="background:url(assets/logo5.png) no-repeat left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
        </a>

        <p>Show in <span id="rdio_result_count">No Results</span></p>

        <div class="clear"></div>
      </div>
      <!--heading-->

      <div id="rdio_loading" class="loading" style="display: none;">
        <%= image_tag("ajax-loader_transparent.gif") %>
      </div>
      <div class="listing-area" id="rdio_results">
      </div>
      <!--listing-area-->
    </div>
    <!--content-->
    <div class="logo_holder">
      <ul>
        <li><a href="http://www.spotify.com" target="m"><%= image_tag("logo1.png", :alt => "") %></a></li>
        <li><a href="http://www.grooveshark.com" target="m"><%= image_tag("logo2.png", :alt => "") %></a></li>
        <li><a href="http://www.mog.com" target="m"><%= image_tag("logo6.png", :alt => "") %></a></li>
        <li><a href="http://www.youtube.com" target="m"><%= image_tag("logo4.png", :alt => "") %></a></li>
        <li><a href="http://www.soundcloud.com" target="m"><%= image_tag("logo3.png", :alt => "") %></a></li>
      </ul>
      <div class="clear"></div>
    </div>
    <!--logo_holder-->
  </div>
  <!--wrapper-->
</div><!--list_body-->
<%= render 'layouts/footer' %>
<%= render :partial => "player" %>
