$("#spotify_loading").css("display","none");
$("#spotify_result_count").text("<%=@playlist.count if @playlist%> Results");
<%if @playlist.count == 0 %>
$("#spotify_results").html("<p>No results found.</p>");
<%else%>
$("#spotify_results").html("<ul id='spotify_result_list' class='result-list'></ul>");
<%end%>
<%@playlist.each do |song| %>
$("#spotify_result_list").append("<li>\
                            <a href='<%= song['href'] %>' target='m' title='<%=song['artists'][0]['name']%> - <%=song['name']%>'><%=song['artists'][0]['name']%> - <%=song['name']%></a>\
                            <p title='<%=song['album']['name']%>'><%=song['album']['name']%></p>\
                            <div class='clear'></div>\
                        </li>");


<%end%>

$('.listing-area p').ellipsis();
$('.listing-area ul li a').ellipsis();

$('.listing-area p').tooltip({"placement":"left","animation":true});
$('.listing-area ul li a').tooltip({"placement":"left","animation":true});
