$("#rdio_loading").css("display","none");
$("#rdio_result_count").text("<%=@playlist.count%> Results");
<%if @playlist.count == 0 %>
$("#rdio_results").html("<p>No results found.</p>");
<%else%>
$("#rdio_results").html("<ul id='rdio_result_list' class='result-list'></ul>");
<%end%>
<%@playlist.each do |song| %>
 $("#rdio_result_list").append("<li>\
                            <a href='<%=song['shortUrl']%>' target='m'><%=song['artist']%>-<%=song['name']%></a>\
                            <p><%=song['album']%></p>\
                            <div class='clear'></div>\
                        </li>");
<%end%>
