<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>music search engine</title>
<%= stylesheet_link_tag  "style", :media => "all" %>
<!--[if lt IE 9]>
<%= stylesheet_link_tag  "ltie9", :media => "screen" %>
<![endif]-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>

  <%= csrf_meta_tags %>

<script type="text/javascript">
$(document).ready(function(){
});
</script>

</head>
<body>
	<%= yield %>
  <%= render 'layouts/google_analytics' %>
</body>
</html>
